process {

    withName: FREEBAYES {
        ext.args   = { [
            "--use-best-n-alleles 4",
            "--pooled-continuous",
            "--min-alternate-fraction 0.05",
            "--min-alternate-count 2",
            "--min-alternate-total 10",
            "--allele-balance-priors-off",
            "--hwe-priors-off"
            ].join(" ").trim()
        }
    }

}
