process {

    withName: BASE_FILTERING {
        errorStrategy = 'ignore'
        ext.prefix = { "${meta.id}.base_filtered" }
        ext.args   = { [
            "-m 2",
            "-M 2",
            "--min-af 0.1",
            "--max-af 0.9",
            "-i 'INFO/DP>=30 & QUAL>=10'"
            ].join(" ").trim()
        }
    }

    withName: ADVANCED_FILTERING {
        ext.prefix = { "${meta.id}.advanced_filtered" }
        ext.args   = { [
            "-i 'FORMAT/VAF[0,2,4:0]>=0.9 & FORMAT/VAF[0,2,4:0]<=0.1 & (FORMAT/VAF[1,3,5:0]>=0.2) | FORMAT/VAF[1,3,5:0]<=0.8)'"
            ].join(" ").trim()
        }
    }

    withName: ADDITIONAL_FILTERING {
        publishDir = [
            path: { "${params.outdir}/variants/filtered/" },
            mode: params.publish_dir_mode,
        ]
    }

}
