process {

    withName: BASE_FILTERING {
        ext.prefix = { "${meta.id}.base_filtered" }
        ext.args   = { [
            "-m 2",
            "-M 2",
            //"--min-af 0.1",
            //"--max-af 0.9"
            ].join(" ").trim()
        }
    }

    withName: ADDITIONAL_FILTERING {
        ext.args   = { [
            "--min-depth-quantile 0.1",
            "--max-depth-quantile 0.9"
            ].join(" ").trim()
        }
    }

}
