process {

    // -----------------------------------------------------------------
    // MAPPING
    // -----------------------------------------------------------------

    // keep only primary alignments from concordantly mapped reads
    // -f 2: Keep only reads that are properly paired
    // -F 12: remove reads where either the read itself is unmapped (4) or its mate is unmapped (8).
    // -F 256: remove secondary alignments
    // -F 2048: remove supplementary alignments
    withName: BWAMEM2_MEM {
        publishDir = [
            path: { "${params.outdir}/mapping/bwamem2/" },
            mode: params.publish_dir_mode,
        ]
        ext.args2 = '-f 2 -F 12 -F 256 -F 2048'
    }

    withName: PICARD_ADDORREPLACEREADGROUPS {
        ext.args = { [
            "--RGID ${meta.id}",
            "--RGLB Library1",
            "--RGPL Illumina",
            "--RGSM ${meta.id}",
            "--RGPU Unknown",
            ].join(" ").trim()
        }
        ext.prefix = { "${meta.id}.marked_duplicates" }
    }

    withName: SAMTOOLS_MARKDUP {
        publishDir = [
            path: { "${params.outdir}/mapping/markdup/" },
            mode: params.publish_dir_mode,
        ]
        ext.args2 = '-r' // for samtools fixmate: remove unmapped and secondary alignments
        ext.args4 = '-r -s' // for samtools markdup: remove duplicates and report stats
    }

}
