process {

    withName: BCFTOOLS_SORT_CHUNK {
        tag = { "${input.simpleName} - ${meta.variant_type}" }
        ext.prefix = { "${input.baseName - '.vcf'}.sorted.bcf" }
        ext.args   = { [
            "--output-type b"
            ].join(" ").trim()
        }
    }

    withName: BCFTOOLS_SORT_ALL {
        tag = { "${meta.id} - ${meta.variant_type}" }
        ext.prefix = { "${input.baseName - '.bcf'}.sorted.vcf" }
        ext.args   = { [
            "--output-type z"
            ].join(" ").trim()
        }
    }


    withName: BCFTOOLS_INDEX {
        ext.args   = { [
                "--tbi"
            ].join(" ").trim()
        }
    }

}
