/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    /*
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    */
    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: BWAMEM2_MEM {
        ext.args2 = '-f 2 -F 12' // keep only concordantly mapped reads
    }

    withName: SAMTOOLS_MARKDUP {
        ext.args2 = '-r' // for samtools fixmate: remove unmapped and secondary alignments
        ext.args4 = '-r -s' // for samtools markdup: remove duplicates and report stats
    }

    withName: FREEBAYES {
        ext.args = '--skip-coverage 1000 --use-best-n-alleles 4'
    }

    withName: BCFTOOLS_SORT_CHUNK {
        ext.prefix = { "${input.baseName - '.vcf'}.sorted" }
    }

    withName: BCFTOOLS_SORT_ALL {
        ext.prefix = { "${input.baseName - '.bcf'}.sorted" }
    }

    withName: BCFTOOLS_VIEW {
        ext.args   = { [
            "-m 2",
            "-M 2",
            //"--min-af 0.1",
            //"--max-af 0.9"
            ].join(" ").trim()
        }
    }

    withName: GATK4_VARIANTEVAL {
        errorStrategy = { "ignore" }
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
